@import url('main.css');
:root {
    --color-high-button: rgb(96, 108, 218);
    --color-mid-button: rgb(96, 108, 218);
    --color-low-button: rgb(96, 108, 218);
}

#buttons > a {
    padding: 8%;
    border-radius: 50%;
}

#high-button {
    background-color: var(--color-high-button);    
}

#mid-button {
    background-color: var(--color-mid-button);    
}

#low-button {
    background-color: var(--color-low-button);    
}
