@import url('main.css');

:root {
    --color-button-high: rgb(55, 0, 255);
    --color-button-mid: rgb(255, 0, 0);
    --color-button-low: rgb(0, 255, 0);
}

main {
    padding: 0 15%;
}

.grid-container {
    display: grid;
    width: 100%;
    grid-template-rows: 100%;
    grid-template-columns: 1fr 1fr 1fr;
    
    /* grid-gap: 5px; */
    
    /* align-items: center; */
    /* align-items: stretch; */

    justify-items: center;
    user-select: none;
}

.buttons-emergency {
    display: flex;
    justify-content: center;
    align-items: center;

    text-align: center;
    font-family: "Roboto-Bold", Arial, Helvetica, sans-serif;
    /* font-weight: 700; */
    font-size: x-large;
    
    /* text-decoration: none; */
    border-radius: 35px;

    margin: 10px; 
    padding: 80px 80px; 
    /* padding: 15vh;  */


    /* width: 100%;  */
    aspect-ratio: 1;
    /* height: 100%;  */
    
    /* max-width: 200px; */
    
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.45);
    transition: 240ms; /* vendorless fallback */
    -o-transition: 240ms; /* opera */
    -ms-transition: 240ms; /* IE 10 */
    -moz-transition: 240ms; /* Firefox */
    -webkit-transition: 240ms; /*safari and chrome */
}

#button-high {
    color: var(--color-font-light);
    background-color: var(--color-button-high);
}

#button-mid {
    color: var(--color-font-light);
    background-color: var(--color-button-mid);
}

#button-low {
    color: var(--color-font-light);
    background-color: var(--color-button-low);
}

#button-high:hover { 
    background-color: transparent; 
    border: 5px solid var(--color-button-high);
    color: var(--color-button-high); 
}

#button-mid:hover { 
    background-color: transparent; 
    border: 5px solid var(--color-button-mid); 
    color: var(--color-button-mid); 
}

#button-low:hover { 
    background-color: transparent; 
    border: 5px solid var(--color-button-low);
    color: var(--color-button-low);
}

@media screen and not (min-width: 768px), (orientation: portrait) {
    
    .grid-container {
        grid-template-columns: 1fr;
    }

    .buttons-emergency {
        max-width: 50px;
        max-height: 50px;
    }

}