:root {
    --bar-height: 72px;

    --color-font-light: #FFFFFF;

    --color-primary: #009579;
    --color-primary-light: #0dcfb5;
    --color-primary-dark: #006E5A;
    --color-accent: #0A74FF;
    
    --color-nav-text: #FFFFFF;
    --color-nav-hover: #009579;
}

html {
    overflow: auto;
    height: 100%;
}

* {
    font-family: "Roboto", sans-serif;
}

body {
    background: linear-gradient(to bottom right, var(--color-primary), var(--color-primary-light));
    overflow: auto;
    height: 100%;
    margin: 0;
}

main {
    height: 100%;
    display: flex;
    align-items: center;
    padding-top: var(--bar-height);
    box-sizing: border-box;
}

.u_centered,.centered {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 16px;
    box-sizing: border-box;
}

header {
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: var(--bar-height);
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.45);
    /* transition: background 0.25s; */
    background: var(--color-primary);
}

header > div {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#header_logo {
    height: 100%;
}

#header_NavToggle {
    cursor: pointer;
}

#header_NavToggle > i {
    color: white;
    font-size: 2em;
}

#inpNavToggle {
    display: none;
}

#inpNavToggle:checked ~ #header_nav {
    display: flex;
}

#header_nav {
    display: none;
    flex-direction: column;
    position: fixed;
    top: var(--bar-height);
    left: 0;
    width: 100%;
    /* height: calc(100vh - var(--bar-height)); */
    height: 100%;
    padding: 32px;
    box-sizing: border-box;

    background-color: rgba(0, 0, 0, 0.75);
}

#header_nav > a {
    font-weight: 500;
    text-decoration: none;
    color: var(--color-nav-text);
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);

    display: table-cell;
    vertical-align: middle;

    text-align: center;
    user-select: none;
    /* height: var(--bar-height); */
    /* padding: 0 16px; */
    padding: calc(var(--bar-height) / 2) 16px;

    /* line-height: var(--bar-height); */
    transition: 340ms; /* vendorless fallback */
    -o-transition: 340ms; /* opera */
    -ms-transition: 340ms; /* IE 10 */
    -moz-transition: 340ms; /* Firefox */
    -webkit-transition: 340ms; /*safari and chrome */
}

#header_nav > a:hover {
    background-color: rgba(0, 0, 0, 0.35);
    color: color-mix(in srgb, var(--color-nav-text) 85%, #000000 15%);
}

.material-icons {
    user-select: none;
}

@media screen and (min-width: 768px) and (orientation: landscape) {
    #header_NavToggle {
        display: none;
    }

    #header_nav {
        display: initial;
        position: static;
        width: unset;
        height: unset;
        padding: unset;
        flex-direction: row;
        background: transparent;
    }

    #header_nav > a {
        height: var(--bar-height);
        padding: 0 16px;
        border-bottom: 0;
    }

    #header_nav > a:not(:last-of-type) {
        margin-right: 24px;
    }
}
