:root {
    --bar-height: 72px;
    --color-primary: ##181a1b;
    --color-primary-light: ;
}

body {
    margin: 0;
    font-family: 'Quicksand', sans-serif;
}

main {
    height: 100vh;
    background: linear-gradient(to bottom right, var(--color-primary), var(--color-primary-light));
    display: flex;
    align-items: center;
    padding-top: var(--bar-height);
    box-sizing: border-box;
}

.u_centered {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 16px;
    box-sizing: border-box;
}

header {
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: var(--bar-height);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
    transition: background 0.15s;
}

header > div {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

#header_logo {
    height: 100%;
}

#header_NavToggle {
    cursor: pointer;
}

#header_NavToggle > i {
    color: white;
    font-size: 2em;
}

#inpNavToggle {
    display: none;
}

#inpNavToggle:checked ~ nav {
    display: flex;
}

#header_nav {
    display: none;
    flex-direction: column;
    position: fixed;
    top: var(--bar-height);
    left: 0;
    width: 100%;
    height: calc(100vh - var(--bar-height));
    padding: 32px;
    background: #222222;
    box-sizing: border-box;

    height: 100%;
}

#header_nav > div > a {
    font-weight: 500;
    text-decoration: none;
    color: white;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    padding: 16px 0;
}


#header_nav > div {
    display: inline-block;
    padding: 16px;
    height: 100%;
}


#header_nav > div:hover {
    opacity: 0.8;
    background-color: #009579;
}

.material-icons {
    user-select: none;
}

@media screen and (min-width: 767px) {
    #header_NavToggle {
        display: none;
    }

    #header_nav {
        display: initial;
        position: static;
        width: unset;
        height: unset;
        padding: unset;
        background: transparent;
        flex-direction: row;
    }

    #header_nav > a {
        border-bottom: none;
    }

    #header_nav > a:not(:last-of-type) {
        margin-right: 24px;
    }
}
/**/
.container {
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 100vh;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 16px;
    box-sizing: border-box;
}

.screen {		
	background: linear-gradient(var(--color-primary));		
	position: relative;	
	height: 600px;
	width: 360px;	
	box-shadow: 0px 0px 24px #5C5696;
}

.screen__content {
	z-index: 1;
	position: relative;	
	height: 100%;
}

.screen__background {		
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 0;
	-webkit-clip-path: inset(0 0 0 0);
	clip-path: inset(0 0 0 0);	
}

.screen__background__shape {
	transform: rotate(45deg);
	position: absolute;
}

.screen__background__shape1 {
	height: 520px;
	width: 520px;
	background: #FFF;	
	top: -50px;
	right: 120px;	
	border-radius: 0 72px 0 0;
}

.screen__background__shape2 {
	height: 220px;
	width: 220px;
	background: var(--color-primary);	
	top: -172px;
	right: 0;	
	border-radius: 32px;
}

.screen__background__shape3 {
	height: 540px;
	width: 190px;
	background: linear-gradient(var(--color-primary-light));
	top: -24px;
	right: 0;	
	border-radius: 32px;
}

.screen__background__shape4 {
	height: 400px;
	width: 200px;
	background: var(--color-primary);	
	top: 420px;
	right: 50px;	
	border-radius: 60px;
}

.login {
	width: 320px;
	padding: 30px;
	padding-top: 156px;
}

.login__field {
	padding: 20px 0px;	
	position: relative;	
}

.login__icon {
	position: absolute;
	top: 30px;
	color: #7875B5;
}

.login__input {
	border: none;
	border-bottom: 2px solid #D1D1D4;
	background: none;
	padding: 10px;
	padding-left: 24px;
	font-weight: 700;
	width: 75%;
	transition: .2s;
}

.login__input:active,
.login__input:focus,
.login__input:hover {
	outline: none;
	border-bottom-color: #6A679E;
}

.login__submit {
	background: #fff;
	font-size: 14px;
	margin-top: 30px;
	padding: 16px 20px;
	border-radius: 26px;
	border: 1px solid #D4D3E8;
	text-transform: uppercase;
	font-weight: 700;
	display: flex;
	align-items: center;
	width: 100%;
	color: #4C489D;
	box-shadow: 0px 2px 2px #5C5696;
	cursor: pointer;
	transition: .2s;
}

.login__submit:active,
.login__submit:focus,
.login__submit:hover {
	border-color: #6A679E;
	outline: none;
}

.button__icon {
	font-size: 24px;
	margin-left: auto;
	color: #7875B5;
}

.social-login {	
	position: absolute;
	height: 140px;
	width: 160px;
	text-align: center;
	bottom: 0px;
	right: 0px;
	color: #fff;
}

.social-icons {
	display: flex;
	align-items: center;
	justify-content: center;
}

.social-login__icon {
	padding: 20px 10px;
	color: #fff;
	text-decoration: none;	
	text-shadow: 0px 0px 8px #7875B5;
}

.social-login__icon:hover {
	transform: scale(1.5);	
}


