:root {
    --bar-height: 64px;

    --color-background: #282536;
    --color-background-dark: color-mix(in srgb, var(--color-background) 80%, black 20%);
    --color-background-darker: color-mix(in srgb, var(--color-background-dark) 80%, black 20%);
    --color-background-light: color-mix(in srgb, var(--color-background) 95%, white 5%);
    --color-background-lighter: color-mix(in srgb, var(--color-background-light) 90%, white 10%);

    --color-font-light: #EBEBEB;
    --color-font-over-primary: #EBEBEB;

    --color-scrollbar: var(--color-background);
    --color-scrollbar-back: var(--color-background-lighter);

    --color-primary: #006E5A; 
    --color-primary-light: color-mix(in srgb, var(--color-primary) 70%, white 30%);
    --color-primary-dark: color-mix(in srgb, var(--color-primary) 70%, black 30%);
    --color-accent: #08df74;
    /* #000296 */
    
    /* --color-background: #c9c9c9;
    --color-background-dark: color-mix(in srgb, var(--color-background) 90%, black 10%);
    --color-background-darker: color-mix(in srgb, var(--color-background-dark) 80%, black 20%);
    --color-background-light: color-mix(in srgb, var(--color-background) 60%, white 40%);
    --color-background-lighter: color-mix(in srgb, var(--color-background-light) 60%, white 40%);

    --color-font-light: #070707;
    --color-font-over-primary: #EBEBEB;

    --color-scrollbar: var(--color-background);
    --color-scrollbar-back: var(--color-background-lighter);

    --color-primary: #009579;
    --color-primary-light: #0dcfb5;
    --color-primary-dark: #006E5A;
    --color-accent: #0A74FF; */



    /* --color-background: #F2F2F2;
    --color-background-dark: color-mix(in srgb, var(--color-background) 90%, black 10%);
    --color-background-darker: color-mix(in srgb, var(--color-background-dark) 80%, black 20%);
    --color-background-light: color-mix(in srgb, var(--color-background) 80%, white 20%);

    --color-font-light: #070707;
    --color-font-over-primary: #EBEBEB;

    --color-primary: #009579;
    --color-primary-light: #0dcfb5;
    --color-primary-dark: #006E5A;
    --color-accent: #0A74FF; */
}

* {
    box-sizing: border-box;
    font-family: "Roboto", Helvetica, sans-serif;
    color: var(--color-font-light);

    scrollbar-width: thin;
    scrollbar-color: var(--color-scrollbar) var(--color-scrollbar-back);
}

*::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

*::-webkit-scrollbar-corner,
*::-webkit-scrollbar-track {
    background: var(--color-scrollbar-back);
}

*::-webkit-scrollbar-thumb {
    background-color: var(--color-scrollbar);
    border-radius: 20px;
    border: 1px solid var(--color-scrollbar-back);
}

html {
    overflow: auto;
    height: 100%;
}

body {
    background: linear-gradient(to bottom right, var(--color-background-dark), var(--color-background));
    /* background: linear-gradient(to bottom right, var(--color-primary), var(--color-primary-light)); */
    overflow: auto;
    height: 100%;
    margin: 0;
}

main {
    height: 100%;
    display: flex;
    align-items: center;
    padding-top: var(--bar-height);
    box-sizing: border-box;
}

.u_centered,
.centered {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    box-sizing: border-box;
}

.u_centered {
    padding: 20px;
}

header {
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: var(--bar-height);
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.45);
    /* transition: background 0.25s; */
    background: var(--color-primary);
}

header > div {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#header_NavToggle > i,
#header_theme > i,
#header_logo {
    display: flex;
    align-items: center;
    height: 100%;
    font-size: 2em;
    color: var(--color-font-over-primary);
}

#header_NavToggle {
    display: none;
    cursor: pointer;
}

#inpTheme,
#inpNavToggle {
    display: none;
}

#inpNavToggle:checked ~ #header_nav {
    display: flex;
}

#header_nav {
    display: initial;
    position: static;
    /* width: unset;
    height: unset;
    padding: unset; */
    flex-direction: row;
    background: transparent;
    
    left: 0;
    top: var(--bar-height);
    box-sizing: border-box;
}

#header_nav > label,
#header_nav > a {
    font-weight: 500;
    text-decoration: none;
    color: var(--color-font-over-primary);

    display: table-cell;
    vertical-align: middle;

    text-align: center;
    user-select: none;

    height: var(--bar-height);
    padding: 0 16px;
    border-bottom: 0;

    /* line-height: var(--bar-height); */
    transition: 340ms; /* vendorless fallback */
    -webkit-transition: 340ms; /*safari and chrome */
}

#header_nav > a:hover,
#header_nav > label:hover {
    background-color: rgba(0, 0, 0, 0.35);
    color: color-mix(in srgb, var(--color-nav-text) 85%, #000000 15%);
}

#header_nav > a:not(:last-of-type) {
    margin-right: 24px;
}

.material-icons {
    user-select: none;
}



.card {
    background-color: var(--color-background-light);
    border-radius: 5px;
	box-shadow: 0px 0px 13px rgba(0, 0, 0, 0.5);
}

.textbox, select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.textbox[type=submit]:hover {
    background-color: #ffffff;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button{
    -webkit-appearance: none;
} 

.grid2 {
    display: grid;
    grid-template-columns: 65% 35%;

    padding: 20px;
    grid-gap: 20px;

    width: 100%;
    height: 100%;

    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}


/* datatable */
.search_datatable .search {
    padding: 20px;
}

.search_datatable .search input {
    width: 100%;
    height: 100%;
    font-size: 13pt;
    outline: 0;
    border: none;
    background-color: inherit;
}

.search_datatable {
    display: grid;
    grid-template-rows: 60px calc(100% - 60px);
    grid-gap: 20px;
    
    width: 100%;
    height: 100%;
}

.search_datatable .datatable_controls {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: calc(100% - 20px);
    overflow: hidden;
}

.search_datatable .datatable_controls .datatable {
    /* display: flex;
    flex-direction: column; */

    width: 100%;
    height: 100%;

    display: block;
    overflow-x: auto;
}

.search_datatable .datatable_controls table {
    border-collapse: collapse;
    width: 100%;
    /* height: 100%; */

    overflow: scroll;
    white-space: nowrap;
}

.search_datatable .datatable_controls table th,
.search_datatable .datatable_controls table td {
    border: 1px solid var(--color-background-dark);
    padding: 8px;
    /* width: 100%; */
}

.search_datatable .datatable_controls table th {
    height: 48px;
}

.search_datatable .datatable_controls table td {
    height: 42px;
}

/* .search_datatable .datatable_controls table td {
    height: 72px;
    max-height: 1px;
} */

/* .search_datatable .datatable_controls table tr {
} */

/* .search_datatable .datatable_controls table tr:nth-child(even) {
    background-color: var(--color-background-light);
} */

.search_datatable .datatable_controls table tr:hover {
    background-color: var(--color-background-dark);
}

.search_datatable .datatable_controls table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: var(--color-background);
    border-bottom: 2px solid var(--color-primary);
}

.search_datatable .controls {
    width: 100%;
    height: 48px;
    
    display: flex;
    align-items: center;
    justify-content: right;

	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.search_datatable .controls input {
    width: 100%;
    height: 100%;
    font-size: 12pt;
    outline: 0;
    border: none;
    background-color: inherit;
}

.search_datatable .controls button:hover {
    background-color: var(--color-background-dark);
}

.search_datatable .controls button:active {
    background-color: var(--color-background-darker);
}

.search_datatable .controls button {
    width: 124px;
    height: 100%;
    border: none;
    background-color: inherit;
    font-size: 16pt;
}



.form-u {
    box-sizing: border-box;
    width: 100%;
    padding: 20px;
}

.form-u input,
.form-u textarea {
    background-color: var(--color-background-lighter);
    border-color: var(--color-background-dark);
    padding: 10px;
}

.form-u input {
    height: 36px;
}

.form-u textarea:focus,
.form-u input:focus {
    outline: none;
    border-bottom: 1px solid var(--color-accent);
}

.form-u button {
    display: flex;
	justify-content: center;
    align-items: center;
    text-align: center;
    text-decoration: none; 

    font-family: "Roboto-Bold", "Roboto", Helvetica, sans-serif;
    font-size: larger;

    float: right;
    /* margin: 20px 20px;  */
    padding: 0;

    width: calc(50% - 4px);
    height: 42px;
    border-radius: 5px;

    color: var(--color-font-over-primary); 
    background-color: var(--color-primary-light);
    border: 2px solid var(--color-primary-light);
}

.form-u button:hover {
    background-color: color-mix(in srgb, var(--color-primary-light) 80%, black 20%);
}

.form-u button:active {
    background-color: color-mix(in srgb, var(--color-primary-light) 60%, black 40%);
}





@media screen and (orientation: portrait) { 
    #header_NavToggle {
        display: initial;
    }

    #header_nav {
        display: none;
        position: fixed;
        flex-direction: column;
        
        top: var(--bar-height);
        width: 100%;
        height: 100%;
        /* height: calc(100vh - var(--bar-height)); */
        padding: 32px;

        background-color: rgba(0, 0, 0, 0.75);
    }

    #header_nav > label,
    #header_nav > a {
        height: unset;
        padding: calc(var(--bar-height) / 2) 16px;
        border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    }
    
    #header_nav > a:not(:last-of-type) {
        margin-right: 0;
    }
    
    .grid2 {
        grid-template-columns: 1fr;
    }
    
    .search_datatable {
        grid-template-rows: 70px 250px;
    }
}

/* @media screen and (min-width: 768px) and (orientation: landscape) { */
    /* #header_NavToggle {
        display: none;
    } */

    /* #header_nav {
        display: initial;
        position: static;
        width: unset;
        height: unset;
        padding: unset;
        flex-direction: row;
        background: transparent;
    } */

    /* #header_nav > label,
    #header_nav > a {
        height: var(--bar-height);
        padding: 0 16px;
        border-bottom: 0;
    } */

    /* #header_nav > a:not(:last-of-type) {
        margin-right: 24px;
    } */
/* } */
