@import url("main.css");

:root {
    --color-button-high: #025ec7;
    --color-button-mid: #b31137;
    --color-button-low: #12a574;

    /* rgb(37, 28, 161) */
    /* #b80505 */
    /* rgb(8, 189, 8) */
}

main {
    padding-top: 0;
}

.grid-container {
    display: grid;
    max-height: 100%;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 100%;
    padding: 0 60px;

    /* align-items: center; */
    /* align-items: stretch; */

    justify-items: center;
    user-select: none;
}

.grid-container div {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    padding: 10px;
}

.buttons-emergency {
    display: flex;
    justify-content: center;
    align-items: center;

    text-align: center;
    font-family: "Roboto-Bold", Arial, Helvetica, sans-serif;
    color: var(--color-font-over-primary);
    font-size: x-large;
    text-decoration: none;
    
    width: 100%;
    height: 100%;
    /* padding: 80px 80px; */
    aspect-ratio: 1;
    

    outline: 0;
    border: 0;
    border-radius: 35px;
    
    transition: 200ms; /* Vendorless fallback */
    -webkit-transition: 200ms; /* Safari and Chrome */

}

#button-high {
    background-color: var(--color-button-high);
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.45),
                0px 0px 0px 3px var(--color-button-high) inset;
}

#button-mid {
    background-color: var(--color-button-mid);
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.45),
                0px 0px 0px 3px var(--color-button-mid) inset;
}

#button-low {
    background-color: var(--color-button-low);
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.45),
                0px 0px 0px 3px var(--color-button-low) inset;
}

#button-high:focus,
#button-high:hover { 
    /* background-color: transparent; */
    background-color: color-mix(in srgb, var(--color-button-high) 75%, black 25%);
    /* border: 5px solid var(--color-button-high);  */
    /* color: var(--color-button-high); */
}

#button-mid:focus,
#button-mid:hover { 
    /* background-color: transparent; */
    background-color: color-mix(in srgb, var(--color-button-mid) 75%, black 25%);
    /* border: 5px solid var(--color-button-mid);  */
    /* color: var(--color-button-mid); */
}

#button-low:focus,
#button-low:hover { 
    /* background-color: transparent; */
    background-color: color-mix(in srgb, var(--color-button-low) 75%, black 25%);
    /* border: 5px solid var(--color-button-low); */
    /* color: var(--color-button-low); */
}

@media screen and (orientation: portrait) {
    main {
        padding-top: var(--bar-height);
    }
    
    .grid-container {
        grid-template-columns: 100%;
        grid-template-rows: 33% 33% 33%;
        height: 90%;
    }

    .buttons-emergency {
        width: unset;
    }
}