:root {
    --bar-height: 64px;
}

:root[data-theme="dark"] {
    --color-background: #282536;
    --color-background-dark: color-mix(in srgb, var(--color-background) 80%, black 20%);
    --color-background-darker: color-mix(in srgb, var(--color-background-dark) 80%, black 20%);
    --color-background-light: color-mix(in srgb, var(--color-background) 95%, white 5%);
    --color-background-lighter: color-mix(in srgb, var(--color-background-light) 90%, white 10%);

    --color-font: #E4E4E4;
    --color-font-over-primary: #E9E9E9;
    --color-font-over-primary-light: #CECECE;

    --color-scrollbar: var(--color-background-dark);
    --color-scrollbar-back: var(--color-background-light);

    --color-primary: #006E5A; 
    --color-primary-dim: color-mix(in srgb, var(--color-primary) 90%, black 10%);
    --color-primary-dark: color-mix(in srgb, var(--color-primary) 80%, black 20%);
    --color-primary-darker: color-mix(in srgb, var(--color-primary-dark) 90%, black 10%);
    --color-primary-light: color-mix(in srgb, var(--color-primary) 80%, white 20%);
    --color-primary-lighter: color-mix(in srgb, var(--color-primary-light) 90%, white 10%);

    --color-accent: var(--color-primary-dark);
	--color-error: #C2101F;
	--color-error-dark: color-mix(in srgb, var(--color-error) 80%, black 20%);

    --filter-datatable-checkbox: invert(10%) sepia(10%) saturate(5419%) hue-rotate(189.8deg) brightness(23.8%) contrast(110%);

    /* #08DF74 */
    /* #000296 */
}
    
:root[data-theme="light"] {
    --color-background: #c9c9c9;
    --color-background-dark: color-mix(in srgb, var(--color-background) 90%, black 10%);
    --color-background-darker: color-mix(in srgb, var(--color-background-dark) 80%, black 20%);
    --color-background-light: color-mix(in srgb, var(--color-background) 60%, white 40%);
    --color-background-lighter: color-mix(in srgb, var(--color-background-light) 60%, white 40%);

    --color-font: #070707;
    --color-font-over-primary: #EBEBEB;
    --color-font-over-primary-light: #AFAFAF;

    --color-scrollbar: var(--color-background);
    --color-scrollbar-back: var(--color-background-lighter);

    --color-primary: #009579;
    --color-primary-dim: color-mix(in srgb, var(--color-primary) 90%, black 10%);
    --color-primary-dark: color-mix(in srgb, var(--color-primary) 80%, black 20%);
    --color-primary-darker: color-mix(in srgb, var(--color-primary-dark) 90%, black 10%);
    --color-primary-light: color-mix(in srgb, var(--color-primary) 80%, white 20%);
    --color-primary-lighter: color-mix(in srgb, var(--color-primary-light) 90%, white 10%);

    --color-accent: var(--color-primary-dark);
	--color-error: #C2101F;
	--color-error-dark: color-mix(in srgb, var(--color-error) 80%, black 20%);

    --filter-datatable-checkbox: unset;
    
    /* #0dcfb5 */
    /* #006E5A */
}

* {
    box-sizing: border-box;
    font-family: "Roboto", Helvetica, sans-serif;
    color: var(--color-font);

    scrollbar-width: thin;
    scrollbar-color: var(--color-scrollbar) var(--color-scrollbar-back);
}

*::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

.warning {
    width: 100%;
    height: 100%;
    /* max-width: 250px; */
    max-height: 250px;
}

*::-webkit-scrollbar-corner,
*::-webkit-scrollbar-track {
    background: var(--color-scrollbar-back);
}

*::-webkit-scrollbar-thumb {
    background-color: var(--color-scrollbar);
    border-radius: 20px;
    border: 1px solid var(--color-scrollbar-back);
}

html {
    overflow: auto;
    height: 100%;
}

body {
    background: linear-gradient(to bottom right, var(--color-background-dark), var(--color-background));
    /* background: linear-gradient(to bottom right, var(--color-primary), var(--color-primary-light)); */
    overflow: auto;
    height: 100%;
    margin: 0;
}

main {
    display: flex;
    box-sizing: border-box;
    align-items: center;

    height: 100%;
    padding-top: var(--bar-height);
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button{
    -webkit-appearance: none;
} 

header {
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: var(--bar-height);
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.45);
    /* transition: background 0.25s; */
    background: var(--color-primary);
}

header > div {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#header_theme {
    cursor: pointer;
}

#header_NavToggle > i,
#header_theme > i,
#header_logo {
    display: flex;
    align-items: center;

    height: 32px;
    font-size: 2em;

    color: var(--color-font-over-primary);
    fill: var(--color-font-over-primary);
}

#header_NavToggle {
    display: none;
    cursor: pointer;
}

#inpTheme,
#inpNavToggle {
    display: none;
}

#inpNavToggle:checked ~ #header_nav {
    display: flex;
}

#header_nav {
    display: initial;
    position: static;
    /* width: unset;
    height: unset;
    padding: unset; */
    flex-direction: row;
    background: transparent;
    
    left: 0;
    top: var(--bar-height);
    box-sizing: border-box;
    overflow: auto;
}

#header_nav > label,
#header_nav > a {
    font-weight: 500;
    text-decoration: none;
    color: var(--color-font-over-primary);

    display: table-cell;
    vertical-align: middle;

    text-align: center;
    user-select: none;

    height: var(--bar-height);
    padding: 0 16px;
    border-bottom: 0;

    /* line-height: var(--bar-height); */
    transition: 340ms; /* vendorless fallback */
    -webkit-transition: 340ms; /*safari and chrome */
}

#header_nav > a:hover,
#header_nav > label:hover {
    background-color: var(--color-primary-darker) !important;
    color: var(--color-font-over-primary-light);
}

#header_nav > a:not(:last-of-type) {
    margin-right: 24px;
}

#header_nav > a.selected {
    background-color: var(--color-primary-dim);
}

.u_centered,
.centered {
    width: 100%;
    /* max-width: 67%; */
    max-width: 1280px;
    margin: 0 auto;
    box-sizing: border-box;
}

.u_centered {
    padding: 20px;
}

.error_label {
    display: block;
    text-align: center;
    margin: 6px 0;

	color: var(--color-error);
	font-weight: bold;
    font-size: 11.5pt;
    user-select: none;
}

#form-u_error_label {
    margin-top: 2px;
    margin-bottom: 10px;
    user-select: none;
}

.material-icons {
    user-select: none;
}



.card {
    background-color: var(--color-background-light);
    border-radius: 5px;
	box-shadow: 0px 0px 13px rgba(0, 0, 0, 0.5);
}

.grid-two {
    display: grid;
    grid-template-columns: auto minmax(340px, 32%);
    grid-gap: 20px;

    width: 100%;
    height: 100%;
    /* padding: 20px; */

    box-sizing: border-box;
    justify-content: center;
    align-items: center;
}

#bottom-padding {
    display: none;
}

/* datatable */
.search_datatable {
    display: grid;
    grid-template-rows: 60px calc(100% - 60px);
    grid-gap: 20px;
    
    width: 100%;
    height: 100%;
    min-height: 346px;
    padding: 20px;
    
    overflow: hidden;
}

.search_datatable .search {
    display: flex;
    padding: 13px 13px 13px 20px;
}

.search_datatable .search button {
    font-family: "Roboto", Helvetica, sans-serif;
    font-size: 13pt;

    height: 100%;
    padding: 0 10px;
    margin-left: 10px;

    color: var(--color-font-over-primary); 
    background-color: var(--color-primary);
    border: 2px solid var(--color-primary);
    border-radius: 4px;

    transition: 100ms; /* Vendorless fallback */
    -webkit-transition: 100ms; /* Safari and Chrome */
}

.search_datatable .search button:hover {
    /* background-color: color-mix(in srgb, var(--color-primary) 80%, black 20%); */
    background-color: var(--color-primary-dark)
}

.search_datatable .search button:active {
    /* background-color: color-mix(in srgb, var(--color-primary) 60%, black 40%); */
    background-color: var(--color-primary-darker)
}

.search_datatable .search button:disabled {
    color: var(--color-font-over-primary-light); 
    background-color: var(--color-background-light);
    border: 2px solid var(--color-background-light);
}

.search_datatable .search input {
    font-size: 13pt;
    width: 100%;
    height: 100%;

    outline: 0;
    border: none;
    background-color: inherit;
}

.search_datatable .datatable_controls {
    display: flex;
    flex-direction: column;

    width: 100%;
    height: calc(100% - 20px);
    
    overflow: hidden;
}

.search_datatable .datatable_controls .datatable {
    width: 100%;
    height: 100%;

    display: block;
    overflow-x: auto;
}

.search_datatable .datatable_controls table {
    border-collapse: collapse;
    width: 100%;
    /* height: 100%; */

    overflow: scroll;
    white-space: nowrap;
}

.search_datatable .datatable_controls table td {
    /* height: 42px; */
    height: 42px;
    padding: 8px;
    
    border: 1px solid var(--color-background-dark);
}

/* .search_datatable .datatable_controls table tr:nth-child(even) {
    background-color: var(--color-background-light);
} */

.datatable .datatable_del_button {
    font-family: "Material Icons";
    
    text-align: center;

    font-size: 18pt;
    width: 42px;

    outline: 0;
    border: 0;

    background-color: inherit;
    margin: 0;
    padding: 0;
    
    user-select: none;
    cursor: pointer;
}

.datatable .datatable_del_button:hover {
    color: var(--color-error);
}

.datatable .datatable_del_button:active {
    color: var(--color-error-dark);
}



.datatable .datatable_checkbox {
    text-align: center;
}

.datatable .datatable_input_checkbox {
    height: 70%;
    aspect-ratio: 1;
    accent-color: var(--color-primary);
    filter: var(--filter-datatable-checkbox);
    cursor: pointer;
}

.datatable .datatable_input_checkbox:checked {
    filter: unset;
}




.search_datatable .datatable_controls table tr:hover {
    background-color: var(--color-background-dark);
}

.search_datatable .datatable_controls table th {
    text-align: center;

    height: 48px;
    max-height: 48px;
    padding: 12px 8px;

    background-color: var(--color-background);
    border: 1px solid var(--color-background-dark);
    border-bottom: 2px solid var(--color-primary);
}

.search_datatable .controls {
    width: 100%;
    height: 48px;
    
    display: flex;
    align-items: center;
    justify-content: right;

	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.search_datatable .controls input {
    width: 100%;
    height: 100%;
    font-size: 12pt;
    outline: 0;
    border: none;
    background-color: inherit;
}

.search_datatable .controls button {
    width: 124px;
    height: 100%;
    border: none;
    background-color: inherit;
    font-size: 16pt;
    user-select: none;
}

.search_datatable .controls button:hover {
    background-color: var(--color-background-dark);
}

.search_datatable .controls button:active {
    background-color: var(--color-background-darker);
}



.united {
    display: grid;
    grid-template-columns: 50% 50%;
    column-gap: 8px;
    padding: 0 8px 0 0;
}

.form-u {
    width: 100%;
    padding: 20px;
    margin: -20px;
    margin-top: 0;
    margin-bottom: 0;
}

.form-u input,
.form-u textarea {
    width: 100%;
    margin: 8px 0;
    padding: 10px;

    background-color: var(--color-background-lighter);
    border: 1px solid var(--color-background-dark);
    border-radius: 4px;
}

.form-u input {
    height: 36px;
}

.form-u textarea:focus,
.form-u input:focus {
    outline: none;
    border-bottom: 1px solid var(--color-accent);
} 

.form-input-error {
    border-bottom-color: var(--color-error) !important;
}

.form-u button {
    font-family: "Roboto-Bold", "Roboto", Helvetica, sans-serif;
    font-size: larger;
    float: right;
    user-select: none;

    width: calc(50% - 4px);
    height: 42px;
    padding: 0;

    color: var(--color-font-over-primary); 
    background-color: var(--color-primary);
    border: 2px solid var(--color-primary);
    border-radius: 4px;

    transition: 100ms; /* Vendorless fallback */
    -webkit-transition: 100ms; /* Safari and Chrome */
}

.form-u button:hover {
    background-color: var(--color-primary-dark);
    /* background-color: color-mix(in srgb, var(--color-primary) 80%, black 20%); */
}

.form-u button:active {
    background-color: var(--color-primary-darker);
    /* background-color: color-mix(in srgb, var(--color-primary) 60%, black 40%); */
}

.form-u button:disabled {
    color: var(--color-font-over-primary-light); 
    background-color: var(--color-background-lighter);
    border-color: var(--color-background-lighter);
}

.form-button-disabled {
    color: var(--color-font-over-primary-light) !important; 
    background-color: var(--color-background-lighter) !important;
    border-color: var(--color-background-lighter) !important;
}




@media screen and (max-width: 960px), (orientation: portrait) { 
    #header_NavToggle {
        display: initial;
    }

    #header_nav {
        display: none;
        position: fixed;
        flex-direction: column;

        top: var(--bar-height);
        width: 100%;
        height: 100%;
        padding: 32px;

        background-color: rgba(0, 0, 0, 0.75);
    }

    #header_nav > label,
    #header_nav > a {
        height: unset;
        padding: calc(var(--bar-height) / 2) 16px;
        border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    }
    
    #header_nav > a:not(:last-of-type) {
        margin-right: 0;
    }
    
    
    .grid-two {
        grid-template-columns: 1fr;
    }
    
    #bottom-padding {
        display: unset;
    }

    .search_datatable {
        grid-template-rows: 60px calc(100% - 60px) 20px;
        height: calc(100vh - 60px - 20px * 2 - var(--bar-height));
        margin: 0px;
    }

    .form-u {
        width: calc(100% - 40px);
        margin: -20px;
        margin-left: 20px;
        margin-right: 20px;
    }

    #header_theme i {
        justify-content: center;
    }
}

/* @media screen and (min-width: 768px) and (orientation: landscape) { */
    /* #header_NavToggle {
        display: none;
    } */

    /* #header_nav {
        display: initial;
        position: static;
        width: unset;
        height: unset;
        padding: unset;
        flex-direction: row;
        background: transparent;
    } */

    /* #header_nav > label,
    #header_nav > a {
        height: var(--bar-height);
        padding: 0 16px;
        border-bottom: 0;
    } */

    /* #header_nav > a:not(:last-of-type) {
        margin-right: 24px;
    } */
/* } */
